/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run artic-network/amplicon-nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '14.GB',
        time: '1.h',
    ]
}

aws {
    client {
        endpoint  = 'https://s3.climb.ac.uk/'
        anonymous = true
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input                      = "${projectDir}/assets/samplesheet.test.csv"
    manual_clair3_model        = "r941_prom_hac_g360+g422"
    store_dir                  = "."
    read_directory             = "${projectDir}/assets/fuzzy_match_testdata/"
    primer_mismatch_plot       = true
    nextclade                  = "sars-cov-2"
    nextclade_tag              =  "2025-12-05--10-40-14Z"
}
