/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run artic-network/amplicon-nf -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

aws {
    client {
        endpoint  = 'https://s3.climb.ac.uk/'
        anonymous = true
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input                      = "${projectDir}/assets/samplesheet.test_full.csv"
    manual_clair3_model        = "r941_prom_hac_g360+g422"
    store_dir                  = "."
    primer_mismatch_plot       = true
    nextclade                  = "sars-cov-2"
    nextclade_tag              =  "2025-12-05--10-40-14Z"
}